@model IEnumerable<LifxMvc.Models.GroupViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model)
{
	<tr>
		<td>
			@helper GetGroupGlyphicon(LifxMvc.Models.GroupViewModel group)
			{
				var groupIsOn = @group.Bulbs.Where(x => x.IsOn).Count() > 0;
				var groupColor = string.Format("color:{0}", groupIsOn ? "red" : "gray");
				<span class="glyphicon glyphicon-off" aria-hidden="true" style="@groupColor"></span>
			}


			<a href="@Url.Action("TogglePowerGroup", "Bulb", new { item.Name })" class="btn btn-sm btn-default aria-label=" Toggle Power on this Group"">
				@GetGroupGlyphicon(item)
			</a>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			<table class="table">
				<tr>
					<th>
						Label
						@*@Html.DisplayNameFor(model => model.Label)*@
					</th>
					<th>
						Hue
						@*@Html.DisplayNameFor(model => model.Hue)*@
					</th>
					<th>
						Saturation
						@*@Html.DisplayNameFor(model => model.Saturation)*@
					</th>
					<th>
						Brightness
						@*@Html.DisplayNameFor(model => model.Brightness)*@
					</th>
					<th>
						Kelvin
						@*@Html.DisplayNameFor(model => model.Kelvin)*@
					</th>
					<th></th>
				</tr>

				@foreach (var bulb in item.Bulbs)
				{
					<tr>
						<td>
							@helper GetBulbGlyphicon(bool isOn)
							{
								var bulbColor = string.Format("color:{0}", isOn ? "red" : "gray");
								<span class="glyphicon glyphicon-off" aria-hidden="true" style="@bulbColor"></span>
							}

							<a href="@Url.Action("TogglePower", "Bulb", new { bulb.BulbId })" class="btn btn-sm btn-default aria-label=" Toggle Power on this Bulb"">
								@GetBulbGlyphicon(bulb.IsOn)
							</a>
							@Html.DisplayFor(modelItem => bulb.Label)
						</td>
						<td>
							@Html.DisplayFor(modelItem => bulb.Hue)
						</td>
						<td>
							@Html.DisplayFor(modelItem => bulb.Saturation)
						</td>
						<td>
							@Html.DisplayFor(modelItem => bulb.Brightness)
						</td>
						<td>
							@Html.DisplayFor(modelItem => bulb.Kelvin)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = bulb.BulbId }) |
							@Html.ActionLink("Details", "Details", new { id = bulb.BulbId }) |
							@Html.ActionLink("Delete", "Delete", new { id = bulb.BulbId })
						</td>
					</tr>
				}

			</table>

		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
		</td>
	</tr>
}

</table>
